@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.app {
    background-image: url("../src/assets/images/background.png");
    background-size: contain;
    height: 135vh;
    font-family: Poppins, sans-serif;

    padding-top: 2rem;

    & a {
        text-decoration: none;
    }

    &-container {
        // border: 1px solid blue;
        width: 464px;
        height: 620px;
        margin: 0 auto;
        &-header {
            // border: 1px solid blue;
            display: flex;
            justify-content: space-between;
            position: relative;
            & > a {
                width: 60%;
                & > div {
                    & > span {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 36px;
                        line-height: 54px;
                        /* identical to box height */
                        color: #f2f2f2;
                    }
                }
            }
            & > div {
                // border: 1px solid blue;
                width: 40%;
                & > img {
                    position: absolute;
                    right: 0;
                    left: auto;
                }
            }
        }

        &-menu {
            //Don't remove border line
            border: 1px solid white;
            text-align: center;
            height: 400px;
            background: #ffffff;
            border-radius: 24px;
            & > div:nth-child(1) {
                // border: 1px solid wheat;
                width: 90%;
                background: #f9a826;
                border-radius: 12px;

                margin: 0 auto;
                margin-bottom: 2rem;
                margin-top: 8rem;
                & > a {
                    & > div {
                        & > span {
                            font-weight: bold;
                            font-size: 25px;
                            line-height: 54px;
                            /* identical to box height */
                            color: #f2f2f2;
                        }
                    }
                }
                &:hover {
                    background: #585ead;
                }
            }

            & > div:nth-child(2) {
                //Don't remove border line
                border: 1px solid wheat;
                width: 90%;
                background: #f9a826;
                border-radius: 12px;
                margin: 0 auto;
                & > a {
                    & > div {
                        & > span {
                            font-weight: bold;
                            font-size: 25px;
                            line-height: 54px;
                            /* identical to box height */
                            color: #f2f2f2;
                        }
                    }
                }
                &:hover {
                    background: #585ead;
                }
            }
        }

        &.--flag {
            // border: 1px solid black;
            height: 750px;
        }

        &-card {
            height: 580px;
            background: #ffffff;
            border-radius: 24px;
            display: flex;
            align-items: center;
        }

        &-card.--flag {
            // border: 1px solid black;
            height: 695px;
            background: #ffffff;
            border-radius: 24px;
            display: flex;
            align-items: center;
        }
    }

    &-footer {
        margin-top: 2rem;
        // border: 1px solid black;
        text-align: center;
        & > span {
            color: #f2f2f2;
            & > a {
                color: #ffffff;
                text-decoration: underline;
                cursor: pointer;
                &:visited {
                    color: #ffffff;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .app {
        &-container {
            width: 90%;
            &-header {
                // border: 1px solid blue;
                & > a {
                    // border: 1px solid blue;
                    width: 80%;
                    & > div {
                        & > span {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 390px) {
    .app {
        &-container {
            width: 90%;
            &-header {
                // border: 1px solid blue;
                & > a {
                    // border: 1px solid blue;
                    width: 80%;
                    & > div {
                        & > span {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .app {
        &-container {
            width: 90%;
            &-header {
                // border: 1px solid blue;
                & > a {
                    // border: 1px solid blue;
                    width: 80%;
                    & > div {
                        & > span {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
